# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\stijn\OneDrive\Studie\Master Artificial Intelligence - Intelligent Technology\Human-Robot Interaction\Project\Repository\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
